{
  "extends": "airbnb-base",
  "plugins": [
    "import"
  ],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "no-unused-expressions": "off",
    "import/no-unresolved": "off",
    "object-curly-newline": "off",
    "import/extensions": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "linebreak-style": "off",
    "no-unused-vars": "off",
    "global-require": "off",
    "no-script-url": "off",
    "prefer-const": "off",
    "no-shadow": "off",
    "object": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  }
}
